{% extends "dashboard_layout.html" %}
{% block page_title %} Error Page {% endblock %}
{% block body %}
    {{ super() }}
        <!-- 404 Error Text -->
        <div class="text-center">
        <div class="error mx-auto" data-text="413">413</div>
        <p class="lead text-gray-800 mb-5">Request Entity Too Large</p>
        <p class="text-gray-500 mb-0">Think this is an error? Contact the <a href="/support">helpdesk</a></p>
        <a href="/">&larr; Back to Dashboard</a>
        </div>
{% endblock %}
