{% extends "dashboard_layout.html" %}
{% block page_title %} Certificate {% endblock %}
{% block page_description %}Access your CONNECT certificate on the CONNECT Portal.{% endblock %}
{% block body %}
    {{ super() }}

    <script src="static/vendor/confetti.js/confetti.min.js"></script>
    <script>confetti.start(4000, 200);</script>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CONNECT Certificates</h1>
    <p class="mb-4">You did it! Mark your completion of CONNECT with this certificate.</p>

    <div class="card mb-4">
        <div class="card-header">Certificate for <strong>{{ name }}</strong> (<span id="id">#{{ session.get("user") }}</span>)</div>
        <div class="card-body">

            <a href="https://campconnect.co/certificates/pdf-data/certificate-{{ session.get('user') }}.pdf" class="btn text-white btn-primary shadow"><i
                class="fas fa-download text-white-50"></i> Download Certificate as a PDF</a>
            <br/>
		    <br/>
			<!-- <a href="https://campconnect.co/certificates/pdf-data/certificate-{{ session.get('user') }}.pdf"> Click here to download your certificate. </a>	 -->
		    <iframe src="https://docs.google.com/gview?url=https://campconnect.co/certificates/pdf-data/certificate-{{ session.get('user') }}&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
				    
            

            
        </div>
    </div>

    
{% endblock %}