{% extends "dashboard_layout.html" %}
{% block page_title %} Certificate {% endblock %}
{% block page_description %}Access your CONNECT certificate on the CONNECT Portal.{% endblock %}
{% block body %}
    {{ super() }}

    <script src="static/vendor/confetti.js/confetti.min.js"></script>
    <script>confetti.start(4000, 200);</script>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CONNECT Certificates</h1>
    <p class="mb-4">You did it! Mark your completion of CONNECT with this certificate.</p>

    {% if session.get("theme", None) == "ET" %}
    <a href="https://l.campconnect.co/postcampsurveyet" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> E&T - Complete your participant survey here</a>
    <br/>
    {% endif %}
    {% if session.get("theme", None) == "PT1 ET" or session.get('theme', None) == "PT2 HW" %}
    <a href="https://l.campconnect.co/postcampsurveypt" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> Pajvast - Complete your participant survey here</a>
    <br/>
    {% endif %}
    {% if session.get("theme", None) == "HW" %}
    <a href="https://l.campconnect.co/postcampsurveyhw" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> H&W - Complete your participant survey here</a>
    <br/>
    {% endif %}
    {% if session.get("theme", None) == "CE" %}
    <a href="https://l.campconnect.co/ceparticipantevaluation" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> CE - Complete your participant survey here</a>
    <br/>
    {% endif %}
    {% if session.get("theme", None) == "AC" %}
    <a href="https://l.campconnect.co/acparticipantevaluation" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> AC - Complete your participant survey here</a>
    <br/>
    {% endif %}
    


    {% if certificate == None %}
    <!-- <p class="mb-5"><a href="https://www.akdn.org/akdn-calendar-2021/">As a memento of this programme, download the AKDN Calendar here!</a></p> -->
    <!-- announcement box -->
    <div class="row">
        <div class="col-lg-8 mb-4">
        <div class="card bg-danger text-white shadow">
            <div class="card-body">

                <button class="btn btn-danger btn-icon-split btn-lg">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text"><strong>Certificate being generated!</strong></span>
                </button>
            <br/>
            <br/>
            <div class="text-white">
                Your certificate is being generated, please visit this page at a later time. <br/>
                If you think this is an error, please contact the <a class="text-gray-500" href="https://campconnect.co/support">CONNECT Helpdesk.</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    {% if certificate != None %}
    <div class="card mb-4">
        <div class="card-header">Certificate for <span id="id">#{{ session.get("user") }}</span></div>
        <div class="card-body">
            <a href="{{ certificate }}" class="btn text-white btn-primary shadow"><i
                class="fas fa-download text-white-50"></i> Download Certificate as a PDF</a>
            <br/>
			<!-- <a href="{{ certificate }}"> Click here to download your certificate. </a>	 -->
		    <iframe src="https://docs.google.com/gview?url={{ certificate }}&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>        
        </div>
    </div>
    {% endif %}

    <hr style="height: 10px; border-top-color:rgb(206, 206, 206);">

    <a href="https://airtable.com/shrasWcpJ5rsr8ESN" class="btn text-white btn-primary shadow mb-2"><i
        class="fas fa-poll-h text-white-50"></i> Share feedback to help improve the CONNECT Portal!</a>
    <br/>

    
{% endblock %}