{% extends "dashboard_layout.html" %}
{% block page_title %} Dashboard {% endblock %}
{% block body %}
{{ super() }}

<!-- Last Day Celebration - Confetti -->
<script src="static/vendor/confetti.js/confetti.min.js"></script>
<script>confetti.start(3000, 200);</script>

<!-- Last Day Celebration - Certificate Box -->
<!-- announcement box -->
{% if (session.get("theme", None) == "PT1 ET" or 
      session.get("theme", None) == "PT2 HW") or 
      session.get("theme", None) == "ET" or 
      session.get("theme", None) == "HW" %}
<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card bg-info text-white shadow">
      <div class="card-body">
        <strong>Congratulations!</strong>
        <div class="text-white">You did it -- Welcome to the final day of CONNECT!<br/> View and Download your certificate at the <a class="text-gray-700" href="/certificate">certificate page.</a></div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4"> -->
<h1 class="h3 mb-0 text-gray-800">My Dashboard</h1>
<p>The following menu options will help you navigate the portal. If you have any questions or need support, please <a
    style="text-decoration: underline;" href="/support">contact the helpdesk.</a></p>
<!-- </div> -->

  <div class="row">
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"><a href="/schedules">My Schedule</a></h6>
        </div>
        <div class="card-body">
          <p>Visit the schedules portal to find a custom-made schedule for you in your time zone with clickable links. You
            can also download your schedule as a PDF for safekeeping.</p>
          <a href="/schedules" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-table"></i>
            </span>
            <span class="text">My Schedule</span>
          </a>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <!-- Dropdown Card -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"><a href="/support">Get Support</a></h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Support Platforms</div>
              <a class="dropdown-item" href="https://link.campconnect.co/helpdesk">Helpdesk Zoom</a>
              <a class="dropdown-item"
                href="mailto:support@campconnect.co?subject=CONNECT%20Helpdesk%20Support%20Request&body=My%20Name%20is%3A%0D%0AMy%20CONNECT%20ID%20is%3A%0D%0AMy%20Family%20is%3A%0D%0A%0D%0AI%20am%20using%20a%20MOBILE%20TABLET%20DESKTOP%20(keep%20one%20and%20delete%20the%20rest)%0D%0A%0D%0AMessage%3A">Helpdesk
                Email</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/support">Helpdesk Form</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">

          <p>Have any issues during camp? Contact the CONNECT Helpdesk by Zoom, Email, or Webform.</p>


          <a href="/support" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-question-circle"></i>
            </span>
            <span class="text">Get Support</span>
          </a>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <!-- Basic Card  -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"><a href="/resources">Resources</a></h6>
        </div>
        <div class="card-body">
          <p>Access your readings, video recordings, slide decks, and more from the resources page.</p>
          <a href="/resources" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-book"></i>
            </span>
            <span class="text">Resources</span>
          </a>
        </div>
      </div>
    </div>

    <!-- {% if (session.get("user", None) and session.get("user", None) < 1010) %}

    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"><a href="/facilitators">Facilitator Resources</a></h6>
        </div>
        <div class="card-body">
          <p>Access facilitator-specific resources like lesson plans, slide decks, and more from the facilitator resources page.</p>
          <a href="/facilitators" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-file"></i>
            </span>
            <span class="text">Facilitator Resources</span>
          </a>
        </div>
      </div>
    </div>
    {% endif %} -->
  </div>

<hr style="height: 10px; border-top-color:rgb(206, 206, 206);">

<!-- <div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <strong class="text-white">Fun Facts</strong>
        <div>Here are some fun facts about camp :)</div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">


  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Participants</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">716</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Earnings (Annual) Card Example -->
  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Facilitators & Staff</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">135</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Tasks Card Example -->
  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Countries Represented</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">30+</div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-flag fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">ONE JAMAT</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<!-- <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Quick Links</h6>
  </div>
  <div class="card-body">
    <p>Welcome to the Portal. Use the buttons below to access your personalized tools on the Camp CONNECT Portal.</p>

    <center>
      <a href="/schedules" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-table"></i>
        </span>
        <span class="text">My Schedule</span>
      </a>

      <a href="/resources" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-book-open"></i>
        </span>
        <span class="text">Resources</span>
      </a>
    </center>
  </div>
</div> -->

<!-- About -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">About CONNECT</h6>
  </div>
  <div class="card-body">
    <p>Global Encounters and Aga Khan Youth and Sports Boards are partnering to offer a virtual camp for the youth of
      the global Jamat.
      CONNECT: a journey of exploration, learning and creativity is designed to strengthen connections amongst our
      global youth. The camp will offer opportunities to engage in cultural exchange, learn new skills, explore the
      AKDN, collaborate on creative projects, make new friends, dialogue about current issues, and build for the future.

      The theme for the upcoming camp is climate change and social action. Participants will have a unique opportunity
      to build skills and collaborate on creative projects through workshops.</p>
    </p>
  </div>
</div>

{% endblock %}