{% extends "dashboard_layout.html" %}
{% block body %}
{{ super() }}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">My Dashboard</h1>
</div>


<div class="row">
  <div class="col-lg-8 mb-4">
    <div class="card bg-success text-white shadow">
      <div class="card-body">
        <strong>Welcome!</strong>
        <div class="text-white">Welcome to the Camp CONNECT Portal - we're so excited to have you join us!</div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Quick Links</h6>
  </div>
  <div class="card-body">
    <p>Welcome to the Portal. Use the buttons below to access your personalized tools on the Camp CONNECT Portal.</p>

    <center>
      <a href="/schedules" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-table"></i>
        </span>
        <span class="text">My Schedule</span>
      </a>

      <a href="/resources" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-book-open"></i>
        </span>
        <span class="text">Resources</span>
      </a>
    </center>
  </div>
</div>

<!-- Illustrations -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Need help? Contact the Helpdesk</h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_contact_photo.svg" alt="">
    </div>
    <p>Need help? Sweet roll gingerbread muffin croissant jelly-o pastry wafer tootsie roll. Icing macaroon wafer
      cotton candy cake oat cake jelly-o. Candy apple pie icing fruitcake dragée gummies cotton candy muffin.</p>
    <a target="_blank" rel="nofollow" href="https://undraw.co/">Contact the Helpdesk &rarr;</a>
  </div>
</div>

<!-- About -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">About Camp CONNECT</h6>
  </div>
  <div class="card-body">
    <p>Sweet roll gingerbread muffin croissant jelly-o pastry wafer tootsie roll. Icing macaroon wafer cotton candy
      cake oat cake jelly-o. Candy apple pie icing fruitcake dragée gummies cotton candy muffin. Pie lollipop cupcake
      tootsie roll fruitcake wafer tart. Pie chocolate carrot cake tart jelly. Pie oat cake gummi bears sesame snaps
      lemon drops jujubes sweet roll biscuit danish. Soufflé toffee jelly beans jelly pudding marshmallow candy
      halvah. </p>
    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework,
      especially the utility classes.</p>
  </div>
</div>

{% endblock %}