<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="CONNECT Staff">
  <meta name="language" content="English">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="Login - CONNECT Portal">
  <meta name="description" content="Login to the CONNECT Portal, your central resource for all things CONNECT! Access camp schedules, resources, and support from the CONNECT Portal.">

  <title>Login - CONNECT Portal</title>

  <link rel="icon" type="image/png" sizes="192x192"  href="static/img/android-chrome-192x192.png">
  <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
  <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/portal.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_id }}');
  </script>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                    <p>Access the CONNECT Portal by entering your ID Number and Passcode</p>
                  </div>
                  {% if data.invalid %}
                    <div class="alert alert-danger" role="alert">
                      Camp ID or Password Invalid.
                    </div>
                  {% endif %}
                  <form class="user" action="/login" method="POST">
                    <div class="form-group">
                      <input required name="id" type="text" class="form-control form-control-user" id="campID" aria-describedby="campIDHelp" placeholder="ID Number">
                    </div>
                    <div class="form-group">
                      <input required name="pw" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Passcode">
                    </div>
                    
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" onclick="viewPassword()" id="customCheck">
                          <label class="custom-control-label" for="customCheck">View Passcode</label>
                      </div>

                      <hr>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>

                    
                  </div>


                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/support">Need Help?</a>
                  </div>
                  <!-- <div class="text-center">
                    <a class="small" href="/register">Create an Account!</a>
                  </div> -->
                </div>
              </div>
              <!-- <div class="col-lg-3 d-none d-lg-block"></div> -->
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/portal.min.js"></script>

  <!--User Timezone-->
  <script src="static/vendor/moment/moment.min.js"></script>
  <script src="static/vendor/moment/moment-timezone-with-data-10-year-range.min.js"></script>
  <script>
    function viewPassword() {
      var x = document.getElementById("exampleInputPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <script>

    $(document).ready(function() {
      var tz = moment.tz.guess();

      $.ajax({
      type: "POST",
      url: "{{ url_for('post_tz') }}",
      contentType: "application/json",
      data: JSON.stringify({timezone: moment().tz(tz).format("z"), offset: moment.tz.zone(tz).utcOffset(new Date)}),
      dataType: "json",
      });
    });
    
  </script>

</body>

</html>
