{% extends "dashboard_layout.html" %}
{% block page_title %} My Profile {% endblock %}
{% block page_description %}View your CONNECT details on the Profile page.{% endblock %}
{% block body %}
    {{ super() }}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">My CONNECT Profile</h1>
    <p class="mb-4">View your CONNECT details on the Profile page.</p>

    <div class="card mb-4">
        <div class="card-header">Profile for #{{ session.get("user") }}</div>
        <div class="card-body">

            <form>
                <fieldset disabled />
                {% for key, value in user_data.items() %}
                    <!-- Form Group (username)-->
                    <div class="form-group">
                        <label class="small mb-1">{{ key }}</label>
                        <input class="form-control" type="text" placeholder="data" value="{{ value }}">
                    </div>
                {% endfor %}
                
                <!-- Form Group (email address)-->
                <!-- <div class="form-group">
                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
                </div> -->
                <!-- Form Row-->
                <!-- <div class="form-row"> -->
                    <!-- Form Group (phone number)-->
                    <!-- <div class="form-group col-md-6">
                        <label class="small mb-1" for="inputPhone">Phone number</label>
                        <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                    </div> -->
                    <!-- Form Group (birthday)-->
                    <!-- <div class="form-group col-md-6">
                        <label class="small mb-1" for="inputBirthday">Birthday</label>
                        <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                    </div>
                </div> -->
                
                
            </form>
        </div>
    </div>

    
{% endblock %}
