{% extends "dashboard_layout.html" %}

{% block page_title %}
My Schedule
{% endblock %}

{% block page_description %}
View your personalized CONNECT Schedule.
{% endblock %}

{% block body %}
{{ super() }}

<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4"> -->
  <h1 class="h3 mb-2 text-gray-800">My Schedule</h1>
  <p>View your personalized CONNECT Schedule by selecting a day. You may need to manually adjust the time zone. Then, join your sessions by clicking on the links in your schedule.</p>
<!-- </div> -->

{% if farsi %}
<!-- Collapsable PDF Card -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardF" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard2">
    <h6 class="m-0 font-weight-bold text-primary">Need help?</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardF">
    <div class="card-body">
      <a href="https://zoom.us/j/3751012925">
        <!-- <img src="static/img/farsi-message.png" style="height: 2em;"> -->
        <h3>:اگر مطمئن نیستید کجا بروید یا مشکلی دارید ، لطفاً روی این پیوند کلیک کنید</h3>
      </a> 
      <br/>
      <a href="https://zoom.us/j/3751012925" class="btn btn-primary btn-icon-split">
        <span class="text">Join Zoom</span>
        <span class="icon text-white-50">
          <i class="fas fa-arrow-left"></i>
        </span>
    </a>
      
    </div>
  </div>
</div>
{% endif %}

  <!-- Collapsable Helpdesk Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard2">
      <h6 class="m-0 font-weight-bold text-primary">Download your Schedule as a PDF</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCard2">
      <div class="card-body">
        <p>If you are experiencing connection issues or would like to keep a copy of your schedule, you can save your schedule as a PDF file by clicking on the button below.</p>
        <button id="btnPDF" class="btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> Download PDF</button>
      </div>
    </div>
  </div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-6">
        <h6 class="m-0 font-weight-bold text-primary">Schedule for Day #<label id="lblCampday"></label></h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <label class="small mb-1">Select a Day</label>
        <select id="ddDay" class="form-control">
          <option value="1">Day 1</option>
          <option value="2">Day 2</option>
          <option value="3">Day 3</option>
          <option value="4">Day 4</option>
          <option value="5">Day 5</option>
          <option value="6">Day 6</option>
          <option value="7">Day 7</option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col-6">
        <label class="small mb-1">Select a Time Zone</label>
        <select name="timezone" id="timezone" class="form-control"></select>
      </div>
    </div>
    <br/>
    <p><strong>This schedule has been customized for you (#{{session.get("user")}}). <br/><i>Please do not share or publish in any way, shape, or form.</i></p></strong>

    <div class="table-responsive">
      <div class="print-area">
        <table class="table table-bordered" id="schTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Block</th>
              <th>Activity</th>
              <th>Link</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Collapsable Helpdesk Card -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Need help with your schedule? Come to the Helpdesk Zoom!</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <p> Helpdesk Zoom is available 1 hour before and after camp timings. <br/><i>(6:00 a.m. GMT to 7:30 p.m. GMT)</i></p>
      <a href="https://link.campconnect.co/helpdesk" class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span class="text">Join Helpdesk Zoom Room</span>
      </a>
    </div>
  </div>
</div>

<div id="lounge">
  <hr style="height: 10px; border-top-color:rgb(206, 206, 206);">

<div class="row">
  <div class="col-xl-3 col-md-3 mb-2"></div>
  <div class="col-xl-6 col-md-6 mb-8">
    <div class="card shadow">
      <div class="card-body">
        <strong><a href="#lounge">CONNECT Lounge</a></strong> <br/> <br/>
        <!-- <div>Optional spaces to engage in fun activities and interact with the CONNECT family during breaks</div> -->
        <!-- <div><strong>Lounge links will be added soon!</strong></div> -->
        <img src="static/img/S21/lounges.jpg" style="max-width: 100%; height: auto;"/>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-3 mb-2"></div>
</div>
<br/>

<div class="row">

  <!-- Lounge 1 -->
  <div class="col-xl-6 col-md-6  mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <a href="{{ l1 }}">
        <div class="row no-gutters align-items-center">
          <div class="col  mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Lounge: Connect Chá a Conversa</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Connect through Conversations</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-600"></i>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>


  <!-- Lounge 2 -->
  <!-- <div class="col-xl-4 col-md-6 mb-4">
    <div class="card  border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <a href="{{ l2 }}">
        <div class="row no-gutters align-items-center">
          <div class="col  mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Lounge 2: Connect Kreativnost</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Connect through Creativity</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-spa fa-2x text-gray-600"></i>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div> -->

  <!-- Lounge 3 -->
  <div class="col-xl-6 col-md-6  mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <a href="{{ l3 }}">
        <div class="row no-gutters align-items-center">
          <div class="col  mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Lounge: Connect Masala</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Connect through Entertainment</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-microphone fa-2x text-gray-600"></i>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock %}


{% block script %}
<script>
  var schTable;

  function populateTzSelect(){
    var html="";
    timezones = moment.tz.names();
  
    for(var i=0; i<timezones.length; i++){  
      if (timezones[i] == "{{tz_region | string}}") {
        html +="<option selected value='" + timezones[i] + "'>"+timezones[i] + " (" + moment.tz(timezones[i]).format('z') + ")" +"</option>";
      } else {
        html +="<option value='" + timezones[i] + "'>"+timezones[i] + " (" + moment.tz(timezones[i]).format('z') + ")" +"</option>";
      }
    }
  
    document.getElementById('timezone').innerHTML=html;
  }
  
  $(document).ready(function () {
    populateTzSelect();

    var campday = {{campday}};
    
    schTable = $('#schTable')
                .DataTable({
                  dom: 'lrtip',
                  buttons: 
                  [{ 
                      extend: 'pdf', 
                      name: 'pdf',
                      filename: function(){return 'Day' + $('#ddDay').val() + 'Schedule';},
                      title: function(){return 'CONNECT Schedule for #{{session.get("user")}} (Day ' + $('#ddDay').val() + ')';},
                      customize: function(doc) 
                      {
                        doc.styles.title = {
                          fontSize: '25',
                          alignment: 'center',
                          margin: 15,
                          color: "#4e73df",
                          bold: true,
                        }
                        doc.styles.tableHeader = {
                          alignment: 'center',
                          fontSize: '12',
                          margin: 10,
                          decoration: 'underline',
                          bold: true
                        }
                        doc.styles.tableBodyEven = {
                          alignment: 'left',
                          fontSize: '12',
                          margin: 15,
                        }
                        doc.styles.tableBodyOdd = {
                          alignment: 'left',
                          fontSize: '12',
                          margin: 15,
                        }
                      }   
                  }], 
                  "bSort": false,
                  "bInfo": false,
                  "paging": false,
                  "columnDefs": [
                        {
                            "targets": [5],
                            "visible": false,
                        },
                    ],
                  "language": {
                        "zeroRecords": "Schedule To Be Updated"
                    }
                });
    $('#lblCampday').text(campday)
    $("#ddDay").val(campday).change();
    MakeSchTable();
  });

  function MakeSchTable() {
    var schData = {{data | tojson | safe}};
    schTable.clear();
    schTable.rows.add(schData);
    schTable.draw();
  }

  //triggers hidden pdf button on datatable dom
  $('#btnPDF').on('click',function (){
    schTable.button('pdf:name').trigger();
  })

  $('#ddDay').on('change', function() {
    $.fn.dataTableExt.afnFiltering.length = 0;
    schTable.draw();
    let val = parseInt(this.value)
    $('#lblCampday').text(val)

    
    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
        if (data[5] == val)
        {
            return true;
        }
        return false;
    })
    schTable.draw();
  });

  $('#timezone').on('change', function() {
    var tz = this.value;

    $.ajax({
      type: "POST",
      url: "{{ url_for('post_tz') }}",
      contentType: "application/json",
      data: JSON.stringify({region: tz, timezone: moment().tz(tz).format("z"), offset: moment.tz.zone(tz).utcOffset(new Date)}),
      dataType: "json",
      complete: function() {
        window.location.reload(true);
      }
    });
  })

</script>
{% endblock %}
