{% extends "dashboard_layout.html" %}
{% block page_title %}My Schedule{% endblock %}
{% block body %}
{{ super() }}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-2 text-gray-800">My Schedule</h1>
  <button id="btnPDF" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Download PDF</button>
</div>


<!-- TODO AAA-ADD FILTER FOR DAY https://datatables.net/reference/api/filter() -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-9">
        <h6 class="m-0 font-weight-bold text-primary">Schedule for Day #<label id="lblCampday"></label></h6>
      </div>
      <div class="col-3">
        <select id="ddDay" class="form-control">
          <option value="1">Day 1</option>
          <option value="2">Day 2</option>
          <option value="3">Day 3</option>
          <option value="4">Day 4</option>
          <option value="5">Day 5</option>
          <option value="6">Day 6</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body">

    <p><strong>This schedule has been customized for you (#{{session.get("user")}}). <br/><i>Please do not share or publish in any way, shape, or form.</i></p></strong>

    <div class="table-responsive">
      <div class="print-area">
        <table class="table table-bordered" id="schTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Activity</th>
              <th>Link</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Collapsable Helpdesk Card -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Not able to find your room? Come to the Helpdesk!</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <p> Helpdesk Zoom is available 1 hour before and after camp timings. <br/><i>(6:00 a.m. GMT to 7:30 p.m. GMT)</i></p>
      <a href="https://link.campconnect.co/helpdesk" class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span class="text">Join Helpdesk Zoom Room</span>
      </a>
    </div>
  </div>
</div>

{% endblock %}
<!-- /.container-fluid -->

{% block script %}
<script>
  var schTable;

  $(document).ready(function () {
    var campday = {{campday}};
    schTable = $('#schTable')
                .DataTable({
                  dom: 'lrtip',
                  buttons: 
                  [{ 
                      extend: 'pdf', 
                      name: 'pdf',
                      filename: function(){return 'Day' + $('#ddDay').val() + 'Schedule';},
                      title: function(){return 'CONNECT Schedule for #{{session.get("user")}} (Day ' + $('#ddDay').val() + ')';},
                      customize: function(doc) 
                      {
                        doc.styles.title = {
                          fontSize: '25',
                          alignment: 'center',
                          margin: 15,
                          color: "#4e73df",
                          bold: true,
                        }
                        doc.styles.tableHeader = {
                          alignment: 'center',
                          fontSize: '12',
                          margin: 10,
                          decoration: 'underline',
                          bold: true
                        }
                        doc.styles.tableBodyEven = {
                          alignment: 'left',
                          fontSize: '12',
                          margin: 15,
                        }
                        doc.styles.tableBodyOdd = {
                          alignment: 'left',
                          fontSize: '12',
                          margin: 15,
                        }
                      }   
                  }], 
                  "bSort": false,
                  "bInfo": false,
                  "paging": false
                });
    $('#lblCampday').text(campday)
    $("#ddDay").val(campday).change();
    MakeSchTable();
  });

  function MakeSchTable() {
    var schData = {{data | tojson | safe}};
    schTable.clear();
    schTable.rows.add(schData);
    schTable.draw();
  }

  //triggers hidden pdf button on datatable dom
  $('#btnPDF').on('click',function (){
    schTable.button('pdf:name').trigger();
  })

  $('#ddDay').on('change', function() {
    $.fn.dataTableExt.afnFiltering.length = 0;
    schTable.draw();
    let val = parseInt(this.value)
    $('#lblCampday').text(val)
    $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        if (data[0].indexOf(25+val) > 0)
        {
            return true;
        }
        return false;
    })
    schTable.draw();
  });

</script>
{% endblock %}